spring:
  application:
    name: techcommerce

  datasource:
    url: jdbc:postgresql://localhost:5432/techcommerce-db
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect